<h1>Справочник</h1>

<div class="row center-align">
    <a class="btn" href="/catalog/staff">Сотрудники</a>
    <a class="btn" href="/catalog/objectsOfControl">Объекты контроля</a>
    <a class="btn" href="/catalog/sortsOfControl">Испытания</a>
    <a class="btn" href="/catalog/objAndControl">Объекты + испытания</a>
    <a class="btn" href="/catalog/dep">Цеха</a>
    <a class="btn" href="/catalog/spec">Специальности</a>    
    <a class="btn" href="/catalog/staffSpec">Специализация сотрудников</a>
</div>

<script>
    
    async function Hello() {
        try {
            
            alert('correct')
            console.log('correct')
        }
        catch {
            alert('err')
            console.log('not correct')
        }
        document.getElementById('demo').innerHTML = piece;
    }
</script>

<div class="table-data">
    {{#if isStaff}}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>ФИО</th>
            <th>Цех</th>
            <th>Должность</th>
            <th>Контакты</th>
            <th>Доп. информация</th>
        </tr>
        {{#each userData.rows}}
    <tr>
        <td>{{this.worker_id}} </td>
        <td>{{this.full_name}} </td>
        <td>{{this.department_num}} </td>
        <td>{{this.job_title}} </td>
        <td>{{this.contacts}}</td>
        <td>{{this.staff_additional_information}} </td>
    </tr>
        {{/each}}

    </table>
    {{/if}}

    {{#if isObjectsOfControl}}
    <table border="1">

        <tr>
            <th>№</th>
            <th>Категория</th>
            <th>Подкатегория</th>
            <th>Файлы</th>
            <th>Доп. информация</th>

        </tr>

        {{#each userData.rows}}
        <tr>
            <td>{{this.control_object_code}} </td>
            <td>{{this.category}} </td>
            <td>{{this.subcategory}} </td>

            <td>{{this.documents}}</td>
            <td>{{this.additional_information}} </td>
        </tr>
        {{/each}}

    </table>
    {{/if}}
    {{#if isObjAndControl}}
    <table border="1">

        <tr>
            <th>№</th>
            <th>Номер объекта</th>
            <th>Категория</th>
            <th>Подкатегория</th>
            <th>Номер испытания</th>
            <th>Испытание</th>
            <th>Требуемый специалист</th>
            <th>Файлы</th>
            <th>Описание работ</th>
        </tr>

        {{#each userData.rows}}
        <tr>
            <td>{{this.test_code}} </td>
            <td>{{this.control_object_code}} </td>
            <td>{{this.category}} </td>
            <td>{{this.subcategory}} </td>
            <td>{{this.test_code}} </td>
            <td>{{this.testing_full_name}}</td>
            <td>{{this.specialization_code}} </td>
            <td>{{this.documents}}</td>
            <td>{{this.works_description}} </td>
        </tr>
        {{/each}}

    </table>
    {{/if}}

    {{#if isSortsOfControl}}
    <table border="1">

        <tr>
            <th>№</th>
            <th>Короткое название</th>
            <th>Полное</th>
            <th>Требуемый специалист</th>

        </tr>

        {{#each userData.rows}}
        <tr>
            <td>{{this.test_code}} </td>
            <td>{{this.testing_short_name}} </td>
            <td>{{this.testing_full_name}}</td>
            <td>{{this.specialization_code}} </td>

        </tr>
        {{/each}}

    </table>
    {{/if}}

    {{#if isDep}}
    <table border="1">

        <tr>
            <th>№</th>
            <th>Короткое название</th>
            <th>Полное</th>
            <th>Короткое название подразделения</th>
            <th>Полное название подразделения</th>>
            <th>ФИО директора</th>
            <th>Delete</th>
        </tr>

        {{#each userData.rows}}
        <tr>
            <td>{{this.department_num}} </td>
            <td>{{this.short_name}} </td>
            <td>{{this.dep_full_name}} </td>
            <td>{{this.entity_short_name}} </td>
            <td>{{this.entity_full_name}}</td>
            <td>{{this.director_name}} </td>
        </tr>
        {{/each}}

    </table>
    {{/if}}

    {{#if isSpec}}
    <table border="1">

        <tr>
            <th>№</th>
            <th>Специальность</th>
            <th>Срок действия</th>
            <th>Требуемое образование</th>
            <th>Доп. информация</th>
        </tr>

        {{#each userData.rows}}
        <tr>

            <td>{{this.specialization_code}} </td>

            <td>{{this.specialization_category}} </td>
            <td>{{this.validity_period}} </td>
            <td>{{this.requirement_education}}</td>
            <td>{{this.staff_additional_information}} </td>
        </tr>
        {{/each}}

    </table>
    {{/if}}

    {{#if isStaffSpec}}
    <table border="1">

        <tr>

            <th>ID</th>
            <th>ФИО</th>
            <th>Цех</th>
            <th>Должность</th>
            <th>Специальность</th>
            <th>Срок действия</th>
            <th>Контакты</th>
            <th>Доп. информация</th>
        </tr>

        {{#each userData.rows}}
        <tr>
            <td>{{this.worker_id}} </td>
            <td>{{this.full_name}} </td>
            <td>{{this.department_num}} </td>
            <td>{{this.job_title}} </td>
            <td>{{this.specialization_category}} </td>
            <td>{{this.validity_period}} </td>
            <td>{{this.contacts}}</td>
            <td>{{this.staff_additional_information}} </td>
        </tr>
        {{/each}}

    </table>
    {{/if}}


</div>





    <script>

        
    </script>
    
    
        
    <script>
        async function ale(table) {
            alert('ss');
            let query = ` SELECT * FROM ` + table;
            if (table == 'obj+control')
                query =
                    `SELECT * FROM оbjects_of_control
                    INNER JOIN control_objects_testing ON оbjects_of_control.control_object_code= control_objects_testing.control_object_code
                    INNER JOIN sorts_of_control ON control_objects_testing.test_code= sorts_of_control.test_code
                    `;
            if (table == 'staff+spec')
                query = `SELECT * FROM staff INNER JOIN staff_specializing ON staff.worker_id= staff_specializing.worker_id
                    INNER JOIN specializations ON staff_specializing.specialization_code= specializations.specialization_code
                    `;
            const { Client } = require('pg');
            //
            //const Cursor = require('pg-cursor');

            alert(table + ' ж');

            const jsonResponse = (responseObject, responseCode = 200) => {
                res.writeHead(responseCode, { 'Content-Type': 'application/json' });
                res.end(JSON.stringify(responseObject));

                //console.log(new Date(), '-- Handled request:', req.method, req.url, responseCode);
            };

            alert('sss');
            const client = new Client({
                user: 'postgres',
                host: 'localhost',
                database: 'LNK',
                password: '4444',
                port: 5432,
            });


            client.connect((err) => {
                if (err) {
                    console.error('connection error', err.stack)
                } else {
                    console.log('connected')
                }
            })
            alert('ssss');
            client.query(query, (err, res) => {
                if (err) {
                    console.error(err);
                    return;
                }
                for (let row of res.rows) {
                    console.log(row);
                }
                client.end();
            });
            let asy = async (query, pool) => {


                const client = await pool.connect();

                const name = process.argv[2] ?? 'john';
                const entries = await client.query(query);
                //console.log(`${entries.rows.map((r) => Object.values(r).join('\t')).join('\n')}`);

                let promise = new Promise((resolve, reject) => {

                    //console.log(`Database entries ${entries.rowCount} row(s)`);
                    //console.log(Object.keys(entries.rows?.[0]).join('\t'));
                    let mass = entries.rows.map((r) => Object.values(r).join('\t')).join('\n');

                    resolve(mass);
                });
                await client.end();
                let result = await promise;

                //console.log(result);
                return result;

                //return mass;

            };
            //      console.log("___________________" + asy(query, pool) + "___________________");
            alert('last s');
            //let masss = await asy(query, pool);
            //console.log(masss);
            //get_user_name().then(alert);
            //(async () => {
            //    console.log(await asy(query, pool));
            //})();
            //console.log (asy(query, pool).then(alert));

            //(async () => {
            //    const client = await pool.connect();
            //
            //    const name = process.argv[2] ?? 'john';
            //    const entries = await client.query(query);
            //    //console.log(`Database entries ${entries.rowCount} row(s)`);
            //    //console.log(Object.keys(entries.rows?.[0]).join('\t'));
            //    //
            //    ////let mass = entries.rows.map((r) => Object.values(r).join('\t')).join('\n');
            //    //console.log(`${entries.rows.map((r) => Object.values(r).join('\t')).join('\n')}`);
            //
            //    await client.end();
            //    //return mass;
            //
            //})();
            //console.log(mass);
            //cb(masss);
        }

    </script>
    
    
    {{> tomain}}
