<h2>Список заявок</h2>
<a href="/test-list"><h5>К списку испытаний</h5></a>
<form id="searchForm" class="container ninety" >
    <div class="fieldset">
        <input id="num" type="text" class="textbox">
        <label class="text-field__label" for="search">Поиск по номеру</label>
    </div>
    <label>
        <input type="checkbox" id="requires_processing">
        <span>Ждет обработки</span>
    </label>
    <button class="btn large" type="submit">Найти</button>
</form>
<script src="/javascripts/read.js"></script>

{{#each userData.rows}}
<div class="card-panel hoverable ">



    <h5>Заявка {{this.request_code}}</h5>
    <div class="container white">
        <ul>
            <li>


                <label>Код департамента или цеха {{this.department_num}}</label>

            </li>
            <li>
                <div class="date_input">
                    <p> Выполнить до: {{this.deadline}}</p>
                    <input type="date" id="dep_code" class="datepicker" value="{{this.deadline}}">
                </div>
            </li>
            <li>
                <br>
                <label>
                    {{#if this.opinion_required}}
                    <input type="checkbox" checked>
                    {{else}}
                    <input type="checkbox">
                    {{/if}}
                    <span>Требуется выдача заключения</span>
                </label>
                <br>
            </li>
            <li><p>Количесво испытаний: </p></li>
            <li>
                <div class="fieldset">
                    <input id="status" type="text" class="textbox" value="{{this.status}}" required>
                    <label class="text-field__label" for="status">Статус</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="container ninety s12">
        <div>
            <a class="waves-effect waves-light btn-small">Список испытаний</a>
            <a class="waves-effect waves-light btn-small">Отчет</a>
        </div>

        <button class="btn-small waves-effect waves-light btn-save" type="submit" name="action">
            Изменить
            <i class="material-icons right"></i>
        </button>
    </div>
</div>
{{/each}}




<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
<a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
    <i class="material-icons">add</i>
</a>

{{> tomain}}



