
<a id="refresh" href="/req-list"><h2>Список заявок</h2></a>
<a id="diagonal" href="/test-list"><h5>К списку испытаний</h5></a>
<form id="searchForm{{userData.rows.length}}" class="container ninety">
    <div class="fieldset">
        <input id="num_input{{userData.rows.length}}" type="text" class="textbox" required>
        <label class="text-field__label" for="search">Поиск по номеру</label>
    </div>
    <label>
        <input type="checkbox" id="requires_processing">
        <span>Ждет обработки</span>
    </label>
    <button class="btn large" id="search{{userData.rows.length}}">Найти</button>
</form>
<p>Найдено заявок: <strong id="amount_of_record">{{userData.rows.length}}</strong></p>

{{#each userData.rows}}
<form class="card-panel hoverable" id="cardPanel{{@index}}">
    <h5>Заявка <strong id="num{{@index}}">{{this.request_code}}</strong></h5>
    <div class="container white">
        <ul>
            <li>
                <label>Код департамента или цеха {{this.department_num}}</label>
            </li>
            <li>
                <div class="date_input">
                    <p> Выполнить до: </p>
                    <input type="date" id="deadline{{@index}}" class="datepicker" value="{{this.deadline}}">
                </div>
            </li>
            <li>
                <br>
                <label>
                    {{#if this.opinion_required}}
                    <input id="opinion_required{{@index}}" type="checkbox" checked>
                    {{else}}
                    <input id="opinion_required{{@index}}" type="checkbox">
                    {{/if}}
                    <span>Требуется выдача заключения</span>
                </label>
                <br>
            </li>
            <!--<li><p>Количесво испытаний: </p></li>-->
            <li>
                <div class="fieldset">
                    <input type="text" class="textbox" value="{{this.status}}" id="status{{@index}}" required>


                    <label class="text-field__label" for="status">Статус</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="container ninety s12">
        <div>
            <button class="waves-effect waves-light btn-small" id="search{{@index}}">Список испытаний</button>
            <button class="btn-small waves-effect waves-light btn-save" type="submit">
                Изменить
            </button>
            <a class="waves-effect waves-light btn-small">Отчет</a>
                <i class="material-icons right"></i>
        </div>

    </div>
            
</form>
{{/each}}
<script src="/javascripts/update-req.js"></script>

<script src="/javascripts/read.js"></script>


{{> tomain}}



