<a id="refresh" href="/test-list"><h2>Испытания</h2></a>

    <a id="diagonal" href="/req-list"><h5>Список заявок</h5></a>
    <form id="searchForm" class="container ninety">
        <div class="fieldset">
            <input id="num_input" type="text" class="textbox" required>
            <label class="text-field__label" for="search">Поиск по номеру</label>
        </div>
        <label>
            <input type="checkbox" id="requires_processing">
            <span>Ждет обработки</span>
        </label>
        <button class="btn large" type="submit">Найти</button>
    </form>
    <script src="/javascripts/read.js"></script>

    {{#each userData.rows}}
    <form class="card-panel hoverable " id="cardPanel">
        <h5>Испытание {{this.test_in_request_code}} заявки {{this.request_code}}</h5>
        <div class="container white">
            <ul>
                <li>
                    <div class="fieldset">
                        <input id="control_code" type="text" class="textbox" value="{{this.control_object_testing_code}}">
                        <label class="text-field__label" for="control_code">Код испытания объекта</label>
                    </div>
                </li>
                <li>
                    <div class="fieldset">
                        <input id="reg_num" type="text" class="textbox" value="{{this.object_reg_number}}">
                        <label class="text-field__label" for="reg_num">Регистрационный номер</label>
                    </div>
                </li>
                <li>
                    <div class="fieldset">
                        <input id="line_num" type="text" class="textbox" value="{{this.line_code}}">
                        <label class="text-field__label" for="line">Номер линии</label>
                    </div>
                </li>
                <li>
                    <div class="fieldset textarea">
                        <textarea id="comment" type="text" class="materialize-textarea textbox" value="{{this.comment}}"></textarea>
                        <label class="text-field__label" for="comment">Комментарий</label>
                    </div>
                </li>
                <li>
                    <div class="fieldset textarea">
                        <textarea id="files" type="text" class="materialize-textarea textbox" value="{{this.files}}"></textarea>
                        <label class="text-field__label" for="files">Ссылки</label>
                    </div>
                </li>
                <li>
                    <div class="fieldset">
                        <input id="executor" type="text" class="textbox" value="{{this.worker_id}}">
                        <label class="text-field__label" for="executor">ID исполнителя</label>
                    </div>
                </li>
                <li>
                    <div class="fieldset">
                        <input id="status" type="text" class="textbox" value="{{this.testing_status}}">
                        <label class="text-field__label" for="status">Статус</label>
                    </div>
            </ul>
            <button class="waves-effect waves-light btn-small" type="submit">Список испытаний</button>

        </div>
    </form>
    {{/each}}



    <!--<form>
        <input class="short" placeholder="mail" type="text" >
        <input class="short" placeholder="subj" type="text" >
        <textarea placeholder="text"></textarea>
    </form>-->

    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>
    <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition">
        <i class="material-icons">add</i>
    </a>

    {{> tomain}}
